<mat-card style="display: inline-block; width: 200px;">
    <mat-card-header>
        <mat-card-title>{{listType}} List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip  selected [color]="primary" *ngFor="let currentFood of foods">
              {{currentFood}}
            </mat-chip>
            <mat-chip color="primary" routerLink="/mealList">
                View All
            </mat-chip>
        </mat-chip-list>
          
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="pickMeal()">
            Pick My Meal!
        </button> 
    </mat-card-actions>
</mat-card>
