<mat-toolbar *ngIf="isUser" color="primary">

  <button mat-raised-button routerLink="/">Home</button>
  <span class="example-spacer"></span>

  <button mat-raised-button routerLink="/admin" *ngIf="isAdmin" style="margin-right: 15px;">
    Registered users
  </button>

  <button mat-raised-button routerLink="/user" style="margin-right: 15px;">User Info</button>

  <button mat-raised-button (click)="logout()" style="margin-right: 15px;">Logout </button>
  <p style="text-transform: capitalize;">{{currentUser.user.username}}</p>
</mat-toolbar>